FLASK_ENV=development
PORT=5000
MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=phishing_detector
JWT_SECRET_KEY=change_this_secret
JWT_ACCESS_TOKEN_EXPIRES_MINUTES=1440
VIRUSTOTAL_API_KEY=
RATE_LIMIT=100 per hour
ADMIN_EMAIL=admin@example.com
